body{
        background: #f7f9fc;
}
.add_vendor_container {
    width            : 100%;
    height           : calc(100vh - 5rem);
    background-repeat: no-repeat;
    background-size  : cover;
    z-index          : 99;
    position         : fixed;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    ​background      : linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #edf1f4)
}

.add_vendor_section {
    width          : 28rem;
    height         : fit-content;
    background     : #ffffff;
    border-radius  : 14px;
    display        : flex;
    justify-content: center;
}

.add_vendor_header_label {
    width          : 100%;
    height         : fit-content;
    display        : flex;
    justify-content: center;
    /* margin-top  : 15px; */
}

.add_vendor_header_label h3 {
    font-size       : 28px;
    font-weight     : bold;
    /* border-bottom: 3px solid rgb(71, 130, 218); */
    color           : rgb(71, 130, 218);
    transition      : .5s ease-in-out;
    padding         : 8px;
}

.vender_input_label {

    padding       : 2px;
    position      : absolute;
    top           : 0.7rem;
    margin-left   : 5px;
    transition    : 0.5s ease-in-out;
    padding-top   : 0;
    padding-bottom: 0;
    font-size     : 11.2px;
    font-family   : inherit;
    color         : #282932b3;
}

.vendor_input input:focus~.vender_input_label,
.vendor_input textarea:focus~.vender_input_label,
.vendor_input input:valid~.vender_input_label {
    top       : -0.5rem;
    transform : scale(0.9);
    color     : #4782da;
    background: #f7f9fc;
}

.add_vendor_form {
    width     : 100%;
    height    : fit-content;
    background: #f7f9fc;
    box-shadow: 7px 7px 9px #e3e5e8, -7px -7px 9px #ffffff;
}

.vendor_input_section {
    width : 100%;
    height: 100%;

    padding: 0 20px 20px;
}

.vendor_input {
    width   : 100%;
    position: relative;
    height  : fit-content;
}

.vendor_input_section input,
.vendor_input select,.vendor_input textarea {
    width        : 100%;
    display      : block;
    border       : 1px solid #63636361;
    padding      : 9px;
    outline      : none;
    border-radius: 7px;
    margin-top   : 15px;
    background   : #f7f9fc;
    box-shadow   : inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
    border: none;
}

/* .vendor_input select:focus {
  border: 1px solid  rgb(71, 130, 218);
}
.vendor_input_section input:focus {
  border: 1px solid  rgb(71, 130, 218);
} */

.vendor_input select {
    font-size  : 13px;
    font-family: inherit;
    color      : #282932b3;
}

.form_groop {
    display   : flex;
    margin-top: 15px;
}

.choos_servise_days {
    font-size  : 13px;
    font-family: inherit;
    color      : #282932b3;
}

.file_button {
    width     : 100%;
    height    : 100%;
    opacity   : 0;
    position  : absolute;
    z-index   : 1500;
    padding   : 17px;
    height    : 2rem;
    background: #f7f9fc;
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
    border: none;
}

.file_button:focus~.sp_vender_input_label {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
    border: none;
}

.sp_vender_input_label {
    background-color: #ffffff;
    font-size       : 13px;
    font-family     : inherit;
    color           : #282932b3;
    width           : 100%;
    height          : 100%;
    border          : 1px solid #63636361;
    border-radius   : 7px;
    position        : absolute;
    top             : 1rem;
    margin-left     : 0px;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    padding-left    : 14px;
    padding         : 17px;
    box-shadow      : inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;

}

.popup {
    background-color: #ffffff;
    border-radius   : 15px;
    width           : 22rem;
    height          : 18rem;
    position        : fixed;
    z-index         : 105;
    border          : none;
    box-shadow      : 4px 3px 5px #d0d0d0;
}

.open_popup {
    display: none;
}

.selected_img {
    height  : 100%;
    height  : 100%;
    position: relative;
}

.selected_img i {
    position : absolute;
    top      : 15px;
    right    : 16px;
    font-size: 25px;
    color    : #ffffff;
    cursor   : pointer;
}

.popup img {
    width : 100%;
    height: 100%;

    object-fit     : cover;
    object-position: center;
    border-radius  : 15px;
}

.add_vendor_container .submit_vendor {
    width     : 100%;
    color     : rgb(71, 130, 218);
    padding   : 15px;
    background: #f7f9fc;
    margin-top: 4rem;
    height    : 38px;
    border    : none;
    box-shadow: 5px 5px 5px #dee0e3,
        -5px -5px 5px #ffffff;
}

.add_vendor_container .submit_vendor:hover {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendor_input input {
    font-size  : 13px;
    font-family: inherit;
    color      : rgb(71, 130, 218);
}

#add_vendor_section {
    height: 35rem;
}

.vendor_input textarea {
    max-width : 21rem;
    max-height: 8rem;
    min-width : 21rem;
    min-height: 5rem;
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

#short_desc {
    max-width : 21rem;
    max-height: 4rem;
    min-width : 21rem;
    min-height: 3rem;
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendor_input input,.vendor_input textarea {
    font-size  : 13px;
    font-family: inherit;
    color      : #282932b3;
}

#add_vendor_section {
    height: fit-content;
}
.vendor_input textarea{
    max-width: 100%;
    max-height: 8rem;
    min-width: 21rem;
    min-height: 5rem;
}
#short_desc{
    max-width : 100%;
    max-height: 4rem;
    min-width : 21rem;
    min-height: 3rem;
}
.sp_vender_input_label {
    background-color: #f7f9fc;
    font-size       : 13px;
    font-family     : inherit;
    color           : #282932b3;
    width           : 100%;
    height          : 100%;
    border-radius   : 7px;
    position        : absolute;
    top             : 1rem;
    margin-left     : 0px;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    padding-left    : 14px;
    padding         : 17px;
    border: none;
    box-shadow      : inset 5px 5px 5px #dee0e3, inset -5px -5px 5px #ffffff;
}