.vendorTable {
    padding: 15px;

    display: flex;
}

.vendorTable .MuiPaper-root {
    width: 100%;
}

.vendorTable .MuiTypography-h6 {
    font-weight: 700;
    color      : #4782da;
}

.vendorTable .MuiIcon-root {
    color: rgb(71, 130, 218);
}

#add_vendor_btn {
    color: rgb(71, 130, 218);

    box-shadow: 7px 7px 9px #e3e5e8,
        -7px -7px 9px #ffffff;
    background: #f7f9fc;
}

#add_vendor_btn:focus {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendor_insert_btn_section {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
}

body {
    background-color: rgb(247, 249, 252);
}

.vendorTable .MuiPaper-elevation2 {
    background: #f7f9fc;
    box-shadow: 7px 7px 9px #e3e5e8, -7px -7px 9px #ffffff;
}

.vendorTable .MTableHeader-header-14 {
    background: #f7f9fc;
}

.vendorTable .MuiTableRow-root:hover {
    transition: 1s ease;
}

.vendorTable .MuiTableRow-root:hover {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendorTable .MuiIconButton-colorInherit {
    box-shadow: none;
}
.vendorTable .MuiPaper-elevation2 {
    background: #f7f9fc;
    box-shadow: 7px 7px 9px #e3e5e8, -7px -7px 9px #ffffff;
}

.vendorTable .MTableHeader-header-14 {
    background: #f7f9fc;
}

.vendorTable .MuiTableRow-root:hover {
    transition: 1s ease;
}

.vendorTable .MuiTableRow-root:hover {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendorTable .MuiIconButton-colorInherit {
    box-shadow: none;
}
.vendorTable {
    padding: 15px;

    display: flex;
}

.vendorTable .MuiPaper-root {
    width: 100%;
}

.vendorTable .MuiTypography-h6 {
    font-weight: 700;
    color      : #4782da;
}

.vendorTable .MuiIcon-root {
    color: rgb(71, 130, 218);
}
.vendorTable {
    padding: 15px;

    display: flex;
}

.vendorTable .MuiPaper-root {
    width: 100%;
}

.vendorTable .MuiTypography-h6 {
    font-weight: 700;
    color      : #4782da;
}

.vendorTable .MuiIcon-root {
    color: rgb(71, 130, 218);
}

#add_vendor_btn {
    color: rgb(71, 130, 218);

    box-shadow: 7px 7px 9px #e3e5e8,
        -7px -7px 9px #ffffff;
    background: #f7f9fc;
}

#add_vendor_btn:focus {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendor_insert_btn_section {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
}

body {
    background-color: rgb(247, 249, 252);
}

.vendorTable .MuiPaper-elevation2 {
    background: #f7f9fc;
    box-shadow: 7px 7px 9px #e3e5e8, -7px -7px 9px #ffffff;
}

.vendorTable .MTableHeader-header-14 {
    background: #f7f9fc;
}

.vendorTable .MuiTableRow-root:hover {
    transition: 1s ease;
}

.vendorTable .MuiTableRow-root:hover {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.MuiTableCell-alignLeft svg {
    height: 36px;
    width : 36px;
    color : #233044;
}

.vendorTable .MuiInputBase-root {
    box-shadow: inset 5px 5px 5px #dee0e3, inset -5px -5px 5px #ffffff;
    padding   : 0 7.9px;
    color     : #4782da;
}

.vendorTable .MuiInput-underline::before {
    border: none;
}

.vendorTable .MuiInput-underline:hover:not(.Mui-disabled)::before {
    border: none;
}

.vendorTable .MuiInput-underline:after {
    border: none;
}

.vendorTable .MuiIconButton-colorInherit {
    box-shadow: 7px 7px 9px #e3e5e8,
        -7px -7px 9px #ffffff;
    margin : 10px;
    padding: 9px;
}

.vendorTable .MuiIconButton-colorInherit:hover {
    box-shadow: inset 5px 5px 5px #dee0e3,
        inset -5px -5px 5px #ffffff;
}

.vendorTable {
    padding: 0 13px;
    margin : 3rem 0;
}

.vendorTable .MuiTableCell-alignLeft svg {
    height       : 36px;
    width        : 36px;
    color        : #4782da;
    box-shadow   : inset 5px 5px 5px #dee0e3, inset -5px -5px 5px #ffffff;
    padding      : 6px;
    border-radius: 50%;
}

.vendorTable .MuiIconButton-colorInherit {
    box-shadow: none;
}

.vendorTable .MTableHeader-header-13 {
    top             : 0;
    z-index         : 10;
    position        : sticky;
    background-color: #f7f9fc;
}